Repository Codeinwp/templates-patterns-collection, pull requests merged in 2024-11, with the labels that each got.

#400 fix: update Node.js version and setup actions in workflows
  .github/workflows/create-tag.yml
  .github/workflows/deploy.yml
Labels: pr-checklist-skip

#404 refactor: keep only the latest release in changelog
  .releaserc.yml
  bin/update-changelog.js
  readme.txt
Labels: pr-checklist-skip

#409 PRF Changes
  assets/src/Components/Main.js
  assets/src/Components/NewTCNotice.js
  assets/src/scss/_new-tc-notice.scss
  assets/src/style.scss
  beaver/src/components/header.js
  beaver/src/data/store/index.js
  beaver/src/export.js
  editor/src/components/header.js
  editor/src/data/block-editor/index.js
  editor/src/index.js
  elementor/src/components/header.js
  elementor/src/data/store/index.js
  elementor/src/data/templates-cloud/index.js
  elementor/src/export.js
  includes/Admin.php
  includes/License.php
  includes/Main.php
  templates-patterns-collection.php
  tests/tc-disabled-test.php
Labels: pr-checklist-complete

#410 feat: add support for WPFS imports
  assets/src/Components/ImportModal.js
  includes/Importers/Cleanup/Active_State.php
  includes/Importers/Cleanup/Manager.php
  includes/Importers/Content_Importer.php
  includes/Importers/Plugin_Importer.php
  onboarding/src/Components/Steps/Import.js
Labels: pr-checklist-skip, pr-checklist-complete

#413 Development
  assets/src/Components/ImportModal.js
  composer.lock
  includes/Importers/Cleanup/Active_State.php
  includes/Importers/Cleanup/Manager.php
  includes/Importers/Content_Importer.php
  includes/Importers/Plugin_Importer.php
  onboarding/src/Components/Steps/Import.js
Labels: pr-checklist-skip
