Repository Codeinwp/templates-patterns-collection, pull requests merged in 2025-01, with the labels that each got.

#420 Onboarding selection highlight improvements
  onboarding/src/Components/Sites.js
  onboarding/src/Components/StarterSiteCard.js
  onboarding/src/scss/_starter-site-card.scss
Labels: pr-checklist-skip, pr-checklist-complete

#421 Onboarding Sidebar Navigation and Import Confirm
  includes/Admin.php
  includes/Importers/Plugin_Importer.php
  onboarding/src/Components/CustomizeControls/FeaturesControl.js
  onboarding/src/Components/CustomizeControls/ImportOptionsControl.js
  onboarding/src/Components/CustomizeControls/PaletteControl.js
  onboarding/src/Components/CustomizeControls/SiteNameControl.js
  onboarding/src/Components/CustomizeControls/TypographyControl.js
  onboarding/src/Components/FeaturesList.js
  onboarding/src/Components/Onboarding.js
  onboarding/src/Components/SiteSettings.js
  onboarding/src/scss/_controls.scss
  onboarding/src/scss/_features_list.scss
  onboarding/src/scss/_general.scss
  onboarding/src/scss/_site-settings.scss
  onboarding/src/style.scss
Labels: pr-checklist-skip, pr-checklist-complete

#423 refactor: use only the onboarding workflow to selecting a starter site
  includes/Admin.php
  onboarding/src/store/reducer.js
Labels: pr-checklist-skip, pr-checklist-complete

#419 Change Onboarding categories and search experience
  onboarding/src/Components/CategoryButtons.js
  onboarding/src/Components/Filters.js
  onboarding/src/Components/Search.js
  onboarding/src/Components/Sites.js
  onboarding/src/scss/_general.scss
  onboarding/src/store/reducer.js
  onboarding/src/utils/common.js
Labels: pr-checklist-skip, pr-checklist-complete

#425 fix: remove theme dashboard notification for TPC
  includes/Admin.php
Labels: pr-checklist-complete

#426 Release
  docker-compose.ci.yml
  includes/Admin.php
  includes/Importers/Plugin_Importer.php
  onboarding/src/Components/CategoryButtons.js
  onboarding/src/Components/CustomizeControls/FeaturesControl.js
  onboarding/src/Components/CustomizeControls/ImportOptionsControl.js
  onboarding/src/Components/CustomizeControls/PaletteControl.js
  onboarding/src/Components/CustomizeControls/SiteNameControl.js
  onboarding/src/Components/CustomizeControls/TypographyControl.js
  onboarding/src/Components/FeaturesList.js
  onboarding/src/Components/Filters.js
  onboarding/src/Components/Onboarding.js
  onboarding/src/Components/Search.js
  onboarding/src/Components/SiteSettings.js
  onboarding/src/Components/Sites.js
  onboarding/src/Components/StarterSiteCard.js
  onboarding/src/scss/_controls.scss
  onboarding/src/scss/_features_list.scss
  onboarding/src/scss/_filters.scss
  onboarding/src/scss/_general.scss
  onboarding/src/scss/_site-settings.scss
  onboarding/src/scss/_starter-site-card.scss
  onboarding/src/store/reducer.js
  onboarding/src/style.scss
  onboarding/src/utils/common.js
Labels: pr-checklist-skip

#427 chore: add playwright
  .github/workflows/e2e.yml
  .gitignore
  e2e-tests/.eslintrc.json
  e2e-tests/.prettierrc.json
  e2e-tests/.wp-env.json
  e2e-tests/README.md
  e2e-tests/config/flaky-tests-reporter.ts
  e2e-tests/config/global-setup.ts
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/e2e/dashboard.spec.ts
  e2e-tests/cypress/e2e/editor.spec.ts
  e2e-tests/cypress/fixtures/example.json
  e2e-tests/cypress/plugins/index.js
  e2e-tests/cypress/support/commands.ts
  e2e-tests/cypress/support/e2e.ts
  e2e-tests/package-lock.json
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/specs/onboarding.spec.js
  e2e-tests/tsconfig.json
  e2e-tests/yarn.lock
  package.json
Labels: pr-checklist-skip, pr-checklist-complete
